.favorites-body {
    margin-bottom: 8rem;
}

.favorites-body-container {
    margin: 2rem 8rem;
}

.favorites-title h5 {
    color: var(--Font-color, #1D1D1D);

    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.favorites-filter-button {
    cursor: pointer;
}

.favorites-filter p {
    color: var(--Font-color, #1D1D1D);

    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}

.favorites-cards {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;
}

.favorites-cards .card {
    position: relative;
}

.favorites-cards .card-favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    
    z-index: 900;
}

.favorites-filter-button {
    position: relative;
}

.favorites-filter-body {
    position: absolute;

    margin-top: 0.5rem;
    right: 10%;
    
    z-index: 910;

    padding: 1rem 1.5rem;
    background-color: #FEFEFE;
    box-shadow: 0px 4px 9px 0px rgb(177 177 177);
}

.favorites-filter-body h4 {
    color: var(--Dark-green, #1E4B4A);

    font-size: 16px;
    font-weight: 700;
}

.favorites-filter-body .filter-checkboxes {
    display: grid;
    margin-top: 14px;
    grid-template-columns: repeat(4, auto);
    gap: 10px 20px;
}

.favorites-filter-body .filter-checkbox {
    display: flex;
    gap: 5px;
}

.favorites-filter-body .filter-checkboxes input {
    accent-color: #1f8078;
    width: 20px;
    height: 20px;
}

.favorites-filter-body .price-slider {
    width: 60%;
}

.filter-apply-button {
    /* width: 520px; */
    padding: 8px 0px;
    border-radius: 6px;
    background: var(--Main-green, #40918B);

    color: var(--BG-color, #FEFEFE);

    font-size: 18px;
    font-weight: 600;

    cursor: pointer;
}

.price-informational {
    color: var(--Font-color, #1D1D1D);

    font-size: 14px;
    font-weight: 500;
}

.price-min-max {
    color: var(--Font-color, #1D1D1D);

    font-size: 16px;
    font-weight: 600;
}

.favorites-filter-body .rooms-controls h5 {
    color: var(--Font-color, #1D1D1D);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}

.favorites-body-container .rooms-controls .deactive {
    border-radius: 4px;
    border: 1px solid var(--Stroke-color, #E7E7E7);
    cursor: pointer;
}

.favorites-body-container .rooms-controls .controls-number {
    color: var(--Font-color, #1D1D1D);

    /* Body 2 medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.favorites-body-container .rooms-controls .active {
    border-radius: 4px;
    border: 1px solid var(--Gray, #6C6C6C);
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .favorites-body-container {
        margin: 2rem;
    }

    .favorites-cards {
        grid-template-columns: repeat(4, 23%);
    }
}

@media screen and (max-width: 768px) {
    .favorites-cards {
        grid-template-columns: repeat(1, 100%);
    }

    .favorites-filter-body {
        right: 4%;
    }
}

@media screen and (max-width: 672px) {
    .favorites-body-container {
        margin: 4rem 1rem;
    }   

    .favorites-filter-body .filter-checkboxes {
        display: grid;
        margin-top: 14px;
        grid-template-columns: repeat(2, auto);
        gap: 10px 20px;
    }

}