.property-detailed-permits {
    margin-top: 1rem;
}

.property-detailed-permits h5 {
    color: #1D1D1D;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.property-detailed-permits img {
    width: 25px;
    height: 25px;
}

.permits-icon-true {
    position: relative;

    padding: 0.5rem;
    margin: 0;
    
    border-radius: 8px;
    border: 1px solid #40918B;
    background: #F7F7F7;

    cursor: pointer;
    transition: all 0.3s ease;
}

.permits-icon-true:hover {
    background: #40918c31;
}

.permits-icon-false {
    position: relative;

    padding: 0.5rem;

    border-radius: 8px;
    border: 1px solid #EB6B69;
    background: #F7F7F7;

    cursor: pointer;
    transition: all 0.3s ease;
}

.permits-icon-false:hover {
    background: #EB6B6c31;
}

.permits-description {
    /* display: none; */
    opacity: 0;
    position: absolute;
    /* bottom: 0px; */
    top: 105%;
    left: 0;
    /* transform: translateX(-50%); */
    white-space: nowrap;
    
    background-color: #fefefe;
    color: #1D1D1D;
    padding: 8px;
    box-shadow: 0px 4px 8px rgba(159, 157, 157, 0.25);
    outline: 1px solid #00000021;
    border-radius: 5px;
    font-size: 12px;

    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.permits-icon-true:hover .permits-description, 
.permits-icon-false:hover .permits-description {
    /* display: block; */
    opacity: 1;
}

@media screen and (max-width: 576px) {
    .permits-icons > *:last-child .permits-description {
        left: auto;
        right: 0;
    }
    
    .permits-icons > *:nth-last-child(2) .permits-description {
        left: auto;
        right: 0;
    }
    
    .permits-icons > *:nth-last-child(3) .permits-description {
        left: -150%;
        /* right: 0; */
    }
}