.property-conditions-checkboxes,
.property-permits-checkboxes {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    gap: 25px;
}

.margin-top {
    margin-top: 3rem;
}

.property-conditions-checkboxes .conditions-checkbox,
.property-permits-checkboxes .permits-checkbox {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.property-conditions-checkboxes .conditions-checkbox input,
.property-permits-checkboxes .permits-checkbox input {
    accent-color: #1f8078;
    width: 24px;
    height: 24px;
}

.property-checkin,
.property-checkout {
    width: 100%;
}

.property-checkin-time,
.property-checkout-time {
    width: 50%;
    gap: 2rem;
}

.checkin-from,
.checkin-until,
.checkout-from,
.checkout-until {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .property-post-conditions-container {
        width: 65%;
    }

    .property-conditions-checkboxes {
        grid-template-columns: repeat(2, auto);
        gap: 20px 0;
    }

    .property-permits-checkboxes {
        grid-template-columns: repeat(1, auto);
    }

    .property-checkin-time,
    .property-checkout-time {
        width: 75%;
    }
}

@media screen and (max-width: 576px) {
    .property-conditions-checkboxes {
        grid-template-columns: repeat(1, auto);
        gap: 20px 0;
    }

    .property-post-conditions-container {
        width: 90%;
    }

    .property-checkin-time,
    .property-checkout-time {
        width: 100%;
    }
}