.searchbar-property {
    width: 100%;
    max-width: 100%;
}

.searchbar-property-container {
    width: 100%;
}

.searchbar-property-input-form {
    width: 100%;
}

.searchbar-property-input {
    width: 100%;
    display: flex;
    border-radius: 20px;
    border: 1px solid #E7E7E7;
    padding: 0.3rem 1rem;
    padding-right: 0.5rem;
}

.searchbar-property-input input {
    border: none;
    outline: none;
}

.MuiAutocomplete-root {
    width: 100% !important;
    height: 0px !important;
}

.MuiAutocomplete-endAdornment {
    display: none !important;
}

.MuiOutlinedInput-notchedOutline {
    border: none !important;
}

.MuiFormLabel-root,
.MuiInputBase-input {
    font-family: Inter !important;
    font-size: 16px !important;
}

.MuiInputBase-input {
    padding: 2px 4px 7.5px 5px !important;
}

.MuiAutocomplete-popper {
    font-size: 20px !important;
}

.searchbar-property-input input,
.searchbar-property-input input::placeholder {
    color: #757575;
    font-size: 12px;
    font-weight: 400;
}

.searchbar-property-input button {
    background: #40918B;
    border-radius: 50%;
    padding: 0.7rem;
}

.searchbar-property-input svg {
    display: block; 
    fill: none; 
    height: 18px; 
    width: 18px; 
    stroke: currentcolor; 
    stroke-width: 4; 
    overflow: visible;
    color: #FFF;
}

.searchbar-input-button {
    width: 15%;
    margin-left: 0.4rem;
}

.searchbar-input-button button {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #40918B;
    background: #40918B;

    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.fixed-searchbar {
    position: static;
}

/* .css-13cymwt-control {
    width: 100% !important;
    border: none !important;
    outline: none !important;
} */

@media screen and (max-width: 992px) {
    .searchbar-property-container {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .searchbar-property-container {
        width: 80%;
    }

    .fixed-searchbar {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        background-color: #fff;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.234);   
    
        padding: 2rem 0;
    }
}

@media screen and (max-width: 576px) {
    .searchbar-property-container {
        width: 90%;
    }

    .searchbar-property-input {
        width: 100%;
    }

    .searchbar-property-input-form {
        flex-direction: column;
    }

    .searchbar-input-button {
        margin: 1rem auto;
        width: 40%;
        height: 35px;
    }
}