.property-post-rooms-container h4 {
    color: var(--Font-color, #1D1D1D);
    font-size: 24px;
    font-weight: 600;
}

.property-post-inputs-rooms {
    gap: 4rem;
}

.property-post-rooms-container .property-post-rooms-boxes {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
    justify-content: space-between;
}

.property-post-rooms-container .room-box {
    gap: 4rem;
    justify-content: space-between;
}

.property-post-rooms-container .room-box h4 {
    color: var(--Font-color, #1D1D1D);
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.property-post-rooms-container .room-box .control-number {
    color: var(--Font-color, #1D1D1D);
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}

.property-post-rooms-container .control-increment {
    border-radius: 5.6px;
    border: 1.4px solid var(--Gray, #6C6C6C);
    cursor: pointer;
    padding: 0.4rem;
}

.property-post-rooms-container .control-decrement {
    border-radius: 5.6px;
    /* border: 1.4px solid var(--Stroke-color, #E7E7E7); */
    border: 1.4px solid var(--Gray, #6C6C6C);
    cursor: pointer;
    padding: 0.4rem;

    transition: all 0.3s ease;
}

.control-decrement-disabled {
    border: 1.4px solid var(--Stroke-color, #E7E7E7) !important;
}

.property-post-rooms-container .control-decrement .path-deactive {
    fill: #E7E7E7;
    transition: all 0.3s ease;
}

.property-post-rooms-container .control-decrement .path-active {
    fill: #6C6C6C;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {

    .property-post-rooms-container {
        width: 65%;
    }

    .property-post-rooms-container .property-post-rooms-boxes {
        grid-template-columns: repeat(1, 100%);
        /* justify-content: center; */
    }
}

@media screen and (max-width: 576px) {
    .property-post-rooms-container {
        width: 90%;
    }
}