.navbar-main {
    box-shadow: none;
    transition: all 0.3s ease;
    /* height: 200px; */
}

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.234);    
}

.navbar-container {
    position: relative;
    margin: 0 2rem;
    /* margin-top: 1rem; */
}

.nav-searchbar {
    position: absolute;
    left: 25%;
    right: 25%;
    width: 50%;
    /* margin-left: 3.5rem; */
}

.navbar-img-map {
    margin-bottom: 2.5px;
}

.navbar-menu-toggler {
    display: none;
}

.navbar-side-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
}

.side-menu-links {
    margin: 1rem 2rem;
}

.side-menu-close {
    margin: 2rem 2rem 0 0;
}

.side-menu-links div {
    margin: 0.5rem 0;
}

.side-menu-links a {
    color: #333;
}

.side-menu-buttons {
    width: 100%;
}

.side-menu-button-top {
    padding: 0.8rem 0;
    border: 1px solid #FE4343;
    border-radius: 28px;
}

.side-menu-button-top a {
    text-decoration: none;
    color: #FE4343;
}

.side-menu-button-bottom {
    padding: 0.8rem 0;
    background-color: #FE4343;
    border-radius: 28px;
}

.side-menu-button-bottom a, .side-menu-button-bottom p {
    text-decoration: none;
    color: #fff;
}

.navbar-brand {
    margin-left: 4rem;
}

.navbar-img-logo {
    height: 85px;
    width: 85px;
}

.navbar-img-language {
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}

.navbar-links {
    /* margin-top: 2rem; */
    margin-right: 2rem;
    gap: 0.8rem;
    line-height: 24px;
}

.navbar-links .btn-primary {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    display: flex !important;
    align-items: center !important;
}

.navbar-links .dropdown-menu {
    box-shadow: 0px 4px 9px 0px rgb(177 177 177);
    transition: 0.6s width cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar-links .dropdown-toggle::after {
    display: none !important;
}

.navbar-links .dropdown-item {
    padding: 0.75rem 1rem !important;
}

.navbar-links .dropdown-item:active {
    background-color: #c8cacb !important;
    color: #212529 !important;
}

.navbar-links .dropdown-divider {
    margin: 0 !important;
}

.navbar-links-top .post-property-button {
    margin: 0 1rem;
}

.navbar-link {
    font-size: 17px;
    text-decoration: none;
    margin: 0 1rem;
    cursor: pointer;
}

.navbar-link.profile {
    background: #FE4343;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
}

.navbar-links-bottom .login-account-button {
    color: #FE4343;
    font-size: 17px;
    text-decoration: none;
    margin: 0 1rem;
}

/* .navbar-links-bottom .navbar-link {
    color: black;
} */

.navbar-links-top .login-account-button {
    padding: 8px 10px;
    border-radius: 4px;
    background: #FE4343;

    font-size: 17px;
    text-decoration: none;
    margin: 0 1rem;
    color: white;
}

.navbar-links-bottom .post-property-button {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #40918B;

    font-size: 17px;
    text-decoration: none;
    margin: 0 1rem;
    color: #40918B;
    font-weight: 600;

    background-color: transparent; 
    transition: all 0.5s ease;
}

.navbar-links-bottom .post-property-button:hover {
    background-color: #40918B;
    color: white;
}

.navbar-links-bottom .navbar-link {
    text-decoration: none;
    position: relative;
    color: #333;
    transition: color 0.3s ease;
  }
  
.navbar-links-bottom .navbar-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px; 
    background-color: #40918B; 
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; 
}

.navbar-links-bottom .navbar-link:hover::before {
    width: 100%;
}

#active-page {
    text-decoration: none;
    position: relative;
}

#active-page::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #40918B;
    bottom: 0;
    left: 0;
}
  
.daterangepicker td.disabled {
    text-decoration: none !important;
}

/* td.off.available,
td.off.ends.off.disabled {
    color: transparent;
    display: none;
} */

@media screen and (max-width: 992px) {
    .navbar-brand {
        margin-left: 0;
    }

    .navbar-links {
        margin-right: 0;
    }

    .navbar-container {
        margin: 0;
        margin-top: 1rem;
    }

    .nav-searchbar {
        width: 65%;
    }
}

@media screen and (max-width: 768px) {
    .fixed-navbar {
        position: static;
    }
    
    .navbar-container {
        margin: 0 2rem;
        margin-top: 1rem;
        display: none !important;
    }

    .navbar-links {
        display: none !important;
    }

    .navbar-menu-toggler {
        display: block !important;
    }

    .navbar-bottom {
        display: flex;
    }
}

.slide-right {
    -webkit-animation: slide-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.slide-left {
	-webkit-animation: slide-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-left {
0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
}
100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
}
@keyframes slide-left {
0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
}
100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
}
