.navbar-bottom {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 1.5rem;
    width: 100%;
    transition: transform 0.3s;
    z-index: 999;
}

.navbar-bottom.visible {
transform: translateY(0);
}

.navbar-bottom.hidden {
transform: translateY(100%);
}

.navbar-bottom-container {
    margin: 0 auto;
}

.navbar-bottom-nav {
    color: rgb(176, 176, 176) !important;
    gap: 3.5rem;
}

.navbar-bottom-nav a {
    text-decoration: none;
    color: rgb(176, 176, 176);
    transition: all 0.3s ease;
}

.navbar-bottom-nav svg {
    transition: all 0.3s ease;
}

.navbar-bottom-nav svg:hover {
    width: 28px;
    height: 28px;
}

.navbar-bottom-nav a:hover {
    color: #ee2d2d;
}

.navbar-bottom-control svg,
.navbar-bottom-post svg {
    display: block; 
    fill: currentcolor; 
    height: 24px; 
    width: 24px; 
    stroke: currentcolor; 
    stroke-width: 0.5; 
    overflow: visible;
}

.navbar-bottom-liked svg {
    display: block; 
    fill: none; 
    height: 24px; 
    width: 24px; 
    stroke: currentcolor; 
    stroke-width: 4; 
    overflow: visible;
}

.navbar-bottom-logo svg {
    display: block; 
    height: 24px; 
    width: 24px; 
    fill: currentcolor;
    stroke: currentColor;
    stroke-width: 2.5;
}

.navbar-bottom-account svg {
    display: block; 
    height: 24px; 
    width: 24px; 
    fill: currentcolor;
    stroke: currentColor;
    stroke-width: 1;
}

@media screen and (max-width: 768px) {
    .navbar-bottom {
        display: flex;
    }
}

@media screen and (max-width: 576px) {
    .navbar-bottom-nav {
        gap: 2.8rem;
    }
}