.property-detailed-reserve {
    width: 100%;
    display: none;
}

.property-detailed-reserve-button {
    width: 100%;
    background: #fd6164;
    padding: 0.5rem 2rem;
    border-radius: 6px;
    color: white;
    border: 2px solid #fd6164;
}
