@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Mulish:wght@200;400;500;600;700;800;900&family=Reem+Kufi:wght@400;500;600;700&family=Roboto:wght@100&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

* {
  margin: 0;
  padding: 0;
}

.noscroll {
  overflow: hidden;
}

.page {
  width: 100hv;
  font-family: Inter;
  position: relative;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.green-button-animation {
  transition: all 0.3s ease;
}

.green-button-animation:hover {
  background: var(--Main-green, #3a8883);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.234);
}

.red-button-animation {
  transition: all 0.3s ease;
}

.red-button-animation:hover {
  background-color: #ee2d2d;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.234);
}

.red-button-subtle-animation {
  transition: all 0.3s ease;
}

.red-button-subtle-animation:hover {
  background-color: #ed3c3c !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.234);
}

.no-wrap {
  white-space: nowrap;
  overflow: hidden; /* Optional: hides text that overflows the container's width */
  text-overflow: ellipsis; /* Optional: adds an ellipsis (...) to indicate text overflow */
}

.clickable {
  cursor: pointer;
}