.property-detailed-overview p {
    margin: 0;
}

.property-detailed-overview-icons {
    gap: 1rem;
}

.property-detailed-overview-icons .splide__slide {
    width: auto !important;
}

.property-detailed-overview-slide {
    position: relative;
}

.property-detailed-overview-icon {
    display: flex;

    padding: 7px 14px;
    margin-right: 8px;
    gap: 7px;

    background: #F8F7F7;
    border-radius: 6px;
    border: 1px solid #E7E7E7;

    cursor: pointer;

    transition: all 0.3s ease;
}

.property-detailed-overview-icon:hover {
    background-color: #ffffff;
}

.overview-description {
    display: none;
    position: absolute;
    top: 100%;
    /* bottom: 0; */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;

    z-index: 214798076;
}

.property-detailed-overview-icon:hover .overview-description {
    display: block;
}

.propert-detailed-description-text {
    margin: 2rem 0;
}

.propert-detailed-description-text p {
    color: #212529;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.property-detailed-owner {
    gap: 1.5rem;
    padding: 1rem 0;
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
}

/* .property-detailed-owner .owner-profile  */

.property-detailed-owner .owner-name {
    color: #212529;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.property-detailed-owner .owner-rating {
    gap: 7px;
}

.property-detailed-owner .owner-languages {
    color: #1D1D1D;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.property-detailed-owner .owner-languages span {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
