.property-detailed-images {
    width: 100%;
}

/* .property-image-main img {
    height: 80%;
} */

.property-image-secondary {
    margin: 0.5rem 0;
}

.property-image-main img,
.property-image-secondary img {
    width: 100%;
    cursor: pointer;
}

.property-image-secondary .col {
    padding: 0;
    margin: 0 0.2rem;
}

#images-more {
    position: relative;
    cursor: pointer;
}

#images-more img {
    background-repeat: no-repeat;
    opacity: 80%;
    filter: brightness(25%);
}

.images-more-text {
    position: absolute;
    top: 0;
    /* margin-top: 1rem; */
    width: 100%;
    height: 100%;

    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
}

/* .modal-body {
    padding-top: 0;
} */

.modal-header {
    border: none !important;
    /* padding: 6rem 10rem;
    padding-bottom: 0; */
}

.modal-close-svg {
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.modal-header button {
    margin: 4rem;
}

.property-modal-carousel {
    width: 100% !important;
    margin-top: 1rem;
}

.property-modal-carousel .carousel-control-prev {
    left: 15%;
}

.property-modal-carousel .carousel-control-next {
    right: 15%;
}

.property-modal-carousel img {
    /* margin: 0 auto; */
    /* width: 1920px; */
    object-fit: cover;

    /* height: 100%; */
}

.property-modal-carousel {
    width: 100%;
}

.modal-slide-pagination {
    width: 55%;
    /* gap: 0 20px !important; */
    /* background-color: black; */
}

.modal-slide-pagination .splide {
    width: 100% !important;
}

.modal-slide-pagination .splide__list {
    gap: 0 5px;
}

.modal-slide-pagination .splide__slide {
    width: auto !important;
}

.modal-slide-pagination img {
    width: 9vw;
    height: 16vh;

    cursor: pointer;
}

/* .property-modal-carousel .carousel-control-prev span,
.property-modal-carousel .carousel-control-next span {
    color: black !important;
} */

@media screen and (max-width: 992px) {
    .modal-slide-pagination {
        width: 100%;
    }
    .modal-slide-pagination img {
        width: 9vh;
        height: 6vh;
    }

    .property-modal-carousel img {
        width: 100%;
    }

    .property-detailed-images-modal-main {
        margin: 15% 0;
    }

    .property-modal-carousel .carousel-control-prev {
        left: 0;
    }
    
    .property-modal-carousel .carousel-control-next {
        right: 0;
    }
}

@media screen and (max-width: 768px) {
    .property-detailed-images-modal-main {
        margin: 20% 0;
    }
}

@media screen and (max-width: 576px) {
    .property-detailed-images-modal-main {
        margin: 40% 0;
    }
}